.aside {
    position: fixed;
    background: #4F39F6;
    background: linear-gradient(90deg, var(--primary-variation-color) 0%, var(--primary-color) 100%);
    inset: 0;
    transform: translate(-100%);
    transition: all ease 0.5s;
    padding: 0 1rem;
}
.aside--active {
    transform: translate(0);
}

.nav {
    margin-top: 1rem;
}

.nav__item {
    border-bottom: 1px solid rgba(67, 45, 215, 1);
}

.nav__item:last-child {
    border-bottom: 0;
}

.nav__link {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--gray-color);
    padding: 1rem; 
}

@media(min-width: 768px){
    .aside {
        position: static;
        width: 25rem;
        transform: translate(0);
    }
}