@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
  --primary-color: rgba(67, 45, 215, 1);
  --primary-variation-color: rgba(79, 57, 246, 1);
  --light-color: oklch(96.7% 0.003 264.542);
  --gray-color: oklch(87.2% 0.01 258.338);
  --gray-dark-color: oklch(70.7% 0.022 261.325);
  --dark-color: #444;
  --white-color: #FFF;
  --danger-color: #cd5d5d;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--light-color);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
section {
  background-color: #FFF;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05)
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
button {
  background-color: transparent;
  border: 0;
  font-size: 1.6rem;
}
main.container {
  margin: 3rem auto;
  overflow-y: auto;
}
.overScrollTables {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
.container_main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}
.header_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header_mobile__logo {
  font-size: 2rem;
  font-weight: 900;
  color: var(--gray-color);
}
.header_mobile__logo--layout {
  color: var(--black);
}
.header_desktop {
  display: none;
}
@media (min-width: 768px){
  .header_mobile {
    display: none;
  }
  .main {
    height: 100vh;
    display: flex; 
  }
  .header_desktop {
    display: block;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05)
  }
  .header_desktop .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .header_desktop__logo {
    font-size: 3rem;
    font-weight: 900;
  }
  .header_desktop__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.table {
  width: 100%;
  border-spacing: 0;
  border-radius: 1rem;
  overflow: hidden;
}
.table td,
.table th {
  padding: 1rem;
  color: var(--dark-color);
  font-size: 1.4rem;
  text-align: center;
}
.table th {
  color: var(--light-color);
}
.table__header {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.table__body tr:nth-child(2n) {
  background-color: var(--light-color);
}
.table__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.delete-icon, .edit-icon {
  width: 2rem;
  cursor: pointer;
}
.delete-icon {
  color: red;
}
.edit-icon {
  color: var(--primary-color);
}
.badge {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  border-radius: 0.5rem;
}
.badge__pending {
  background-color: #89c189;
  color: #d9f8d9;
}
[class$='__link-navigate'],
.form__submit {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  padding: 1rem;
  background-color: var(--light-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
[class$='__link-navigate']:hover {
  background-color: var(--gray-color);
}
[class$='__title-nav'] {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  gap: 1rem;
}
[class$='__title'] {
  font-size: 2rem;
  color: var(--primary-color);
}
[class$='__legend'] {
  font-size: 1.4rem;
  color: var(--dark-color);
}
[class$='__submit--disabled'] {
  opacity: 0.5;
}

@media (min-width: 768px) {
  [class$='__title-nav'] {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }
  [class$='__title'] {
    font-size: 3rem;
  }
  [class$='__legend'] {
    font-size: 1.6rem;
  }
}
.searcher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searcher__text {
  width: 100%;
}
.searcher__input {
  width: inherit;
  padding: 1rem;
  border: 0.1rem solid var(--gray-color);
  border-radius: 0.5rem;
}
.searcher__quantity {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.searcher__select {
  padding: 0.5rem 1rem;
  background-color: var(--white-color);
  border: none;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .searcher {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .searcher__text {
    width: auto;
  }
}
.alert-message {
  font-size: 1.4rem;
  color: var(--dark-color);
  text-align: center;
  margin: 1rem 0;
}
.pagination {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.pagination__buttons {
  display: flex;
  gap: 1rem;
}
.pagination__button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
}.pagination__button:hover {
  background-color: var(--gray-color);
}
.pagination__button--inactive {
  opacity: 0.3;
  cursor: not-allowed;
}.pagination__button--inactive:hover {
  background-color: transparent;
}
 @media (min-width: 768px) {
   .pagination {
     flex-direction: row;
     justify-content: space-between;
   }
 }
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal--active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal__content {
  background-color: var(--white-color);
  width: 90%;
  max-width: 40rem;
  border-radius: 0.5rem;
  padding: 2rem;
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.modal__title {
  font-size: 1.9rem;
  font-weight: 800;
}
.modal__footer {
  display: flex;
  justify-content: end;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
}
.modal__footer button {
  padding: 1rem;
  border-radius: 0.5rem;
}
.modal__cancel {
  background-color: var(--light-color);
}
.modal__confirm {
  background-color: var(--primary-color);
  color: var(--white-color);
}
@media (min-width: 768px) {
  .form {
    width: 60%;
    max-width: 50rem;
    margin: 0 auto;
  }
}
.form > :not([hidden]) ~ :not([hidden]) {
  margin-top: 2rem;
}
.form__field {
  display: grid;
  gap: 0.5rem;
}
.form__label {
  color: var(--dark-color);
}
.form__input {
  border: 1px solid var(--gray-color);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.form__submit {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 100%;
}
.errors__item {
  color: #d52727;
  padding: 0.2rem 1rem;
  background-color: #fbe3e3;
  border-left: 0.2rem solid #d52727;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}