.users__title-nav {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.users__title {
    font-size: 2rem;
    color: var(--primary-color);
}
.users__legend {
    font-size: 1.4rem;
    color: var(--dark-color);
}
@media (min-width: 768px) {
    .users__title-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .users__title {
        font-size: 3rem;
    }
    .users__legend {
        font-size: 1.6rem;
    }
}